<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prvyx.dao.user.StarDirRetrieveMapper">
    <select id="getStarDirData" resultType="com.prvyx.pojo.stardircategory.Category">
        select star_dir_id, star_dir_title, star_dir_category
        from star_dir
        where fk_user_id=#{userId} and star_dir_category=#{starDirCategory}
    </select>
</mapper>