<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prvyx.dao.video.Video8BySpaceStarMapper">
    <select id="getVideo8BySpaceStar" resultType="com.prvyx.pojo.Video8BySpaceStar">
        select star_dir.star_dir_title,video_id,video_img_path
        from star_dir,star_action,video
        where star_dir_id=star_action.fk_star_dir_id and  fk_video_id=video.video_id and star_dir.fk_user_id=#{userId} and star_dir_category=#{starDirCategory}
        group by star_dir.star_dir_title
        limit 8
    </select>
</mapper>