/*TopMenu��Ĭ����ʽ���޸�*/
/*��ΪĬ��css��Ϊless���������css�ļ����԰�Ĭ����ʽ���ǵ�*/
/*menu-item���*/
.ant-menu-item, .ant-menu-submenu-title {
    padding: 0 3px;
}
/*������*/
.ant-input {
    margin: 8px;
    padding-left: 10px;
    border-radius: 6px;
}
.ant-input {
    margin-left: 20px;
}
/*����������ͼ��*/
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    top: 4px;
    left: 20px;
}
/*搜索按钮样式 动高度没用，直接把背景设为透明色*/
.ant-input-search > .ant-input-group > .ant-input-group-addon {
    background:rgba(255,0,0,0);

}
/*搜索按钮样式：修改圆角值*/
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    border-radius : 0 6px 6px 0;
}
/*������*/
.top-menu-input {
    width: 400px;
}
/*top_menu*/
.top_menu {
    height: 200px;
    background: #ffffff url("/public/index.png") no-repeat top;
    background-size: 120%;
    color: #ffffff;
}

/*ͷ��*/
.avatar {
    margin-left: 35px;
    width: 38px;
    height: 38px;
}
/*������*/
.navMenu {
    margin: 0 20px;
    padding-bottom: 100px;
    background:rgba(0,0,0,0);
    color: #ffffff;
}

/*设置TopMenu中链接文字的样式*/
.TopMenuSpaceStyle a {
    color:#ffffff;
    cursor: pointer;
}