
.site-card-wrapper {
    margin-top: -20px;
    margin-left: -5px;
    width: 890px;
    padding: 10px 1px;
    background: #ffffff;
}

/*排行榜list-item的字体样式*/
.ant-list-item-meta-title {
    font-size: 13px;
}

/*aStyle的样式*/
.aStyle {
    /*overflow : hidden;*/
    /*white-space: normal;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
    /*-webkit-box-orient: vertical;*/
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.site-card-wrapper .ant-card-meta-detail .ant-card-meta-title {*/
/*    overflow : hidden;*/
/*    white-space: normal;*/
/*    text-overflow: ellipsis;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 2;*/
/*    -webkit-box-orient: vertical;*/
/*    font-size: 15px;*/
/*}*/
/*.site-card-wrapper .ant-card-meta-detail .ant-card-meta-description {*/
/*    margin-top: -5px;*/
/*    font-size: 13px;*/
/*}*/
/*Ŀ�ģ����а�Sider��Content�ϵ�һ��*/
/*����Chrome f12���˽��������flex��*/
/*.ant-layout-content {*/
/*    flex: none;*/
/*}*/

/*
.ant-layout-sider-children {
    margin-left: 100px;
}*/
