
/*标题样式*/
.ant-card-meta-detail .ant-card-meta-title {
    overflow : hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
}
/*描述样式*/
.ant-card-meta-detail .ant-card-meta-description {
    margin-top: -5px;
    font-size: 13px;
}