.mySpaceList #components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    /*background: rgba(255, 255, 255, 0.2);*/
}

.mySpaceList .site-layout-sub-header-background {
    background: #fff;
}

.mySpaceList .site-layout-background {
    background: #fff;
}